@font-face {
    font-family: 'normal'; 
    src: url(source/PlusJakartaSans-Bold.ttf);
}

*{
    font-family:'normal';
    margin:0;
    padding:0;
    font-size:2vmax;
}

a:link { 
    text-decoration: none;
    color: #2b00ff;
    transition:color 500ms;
}
a:active { text-decoration:blink}
a:hover { text-decoration:underline; color: red}
a:visited:hover { text-decoration:underline; color: red}
a:visited{color: #2b00ff;}

a:hover #name{
    color: red;
    transition:color 500ms;
}
a:hover #circle{
    background-color: red;
    transition:background-color 500ms;
}

a:visited:hover #name{
    color: red;
    transition:color 500ms;
}
a:visited:hover #circle{
    background-color: red;
    transition:background-color 500ms;
}

#circle{
    display: inline-block;
    height: 1.5vmax;
    width: 1.5vmax;;
    border-radius: 100px;
    background-color:  #2b00ff;
}
#name{
    color: #2b00ff;
}
.nav-div{
    display: inline-block;
    vertical-align: top;
}

.nav-align{
    text-align: center;
}
    
.nav-bar {
    background-color: rgba(255, 255, 255, 0.0);
    width: 100%;
    position: fixed;
    top: 3vmin;
    /* padding:30px; */
    /* text-align: center; */
    z-index: 1;
}

.nav-spacer{
    height:1px;
    width: 10vw;
}

.nav-logo{
    width: 20vw;
    text-align: left;
}

.nav-content{
    text-align: right;
    width: 65vw;
}

.sub-item a{
    font-size: 1.5vmax;

}
.sub-item span{
    font-size: 1vmax;
    color: #2b00ff;
}

.top-block{
    padding-top: 25vmin !important;
}

#intro p{
    padding: 0.5vmin 0;
}

.project-list{
    padding: 5vmin 10vw;
}

.work-page-container{
    /* padding:0; */
    overflow: scroll;
    padding: 5vmin 10vw;
    white-space:nowrap; 
    font-size:0;
}
.work-page-container::-webkit-scrollbar { width: 0 !important }
.work-page-container { -ms-overflow-style: none;overflow: -moz-scrollbars-none; }

.two-line-container{
    display: inline-block;
    width: 15vmax;
    margin-right: 10vmin;
    white-space:normal; 
    vertical-align: top;
}
.single-work{
    display:block;
    height: 20vmax;
    padding:0;
    padding-bottom: 8vmin;
    border:0;
}
.info{
    height: 70%;
}
.detail{
    height: 30%;
    vertical-align: bottom;
}
.view{
    font-size: 1.5vmax;
}
.soon{
    color: rgb(255, 123, 0);
}

.single-work img{
    display:block;
    margin:0;
    padding:0;
    border:0;
    height:100%;
}
.single-work p{display:block; width: 100%;}
.single-work .tag{font-size: 1.5vmax;}
.single-work .spacer{height:3vmax;}
.single-work .title{font-size: 2vmax;}
.single-work .description{font-size: 1.5vmax;}

.preview{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 70vmin;
    opacity: 0;
    transition:opacity 2000ms;
}
.preview img{
    object-fit: cover;
    mix-blend-mode: difference;
}
.single-work:hover .preview{
    opacity: 100;
    transition:opacity 2000ms;
}

.project-container{
    position: relative;
    height: 100vh;
    bottom: 0;
    /* z-index: 999; */
}

.slide{
    display: inline-block;
    height: 8vmin;
    width: 8vmin;
    position: absolute;
    right: 50%;
    top: 25vh;
    transform: translate(50%, 0);
}

.slide svg{
    fill: white;
}

.project-page-container{
    margin:0;
    padding:0;
    overflow: scroll;
    height:75%;
    white-space:nowrap; 
    font-size:0;
    position: relative;
    top: 25%;
}
.single-page{
    display:inline-block;
    /* margin: 0 -5px; */
    padding:0;
    border:0;
    height:100%;
}

.single-page img{
    display:block;
    margin:0;
    padding:0;
    border:0;
    height:100%;
}

.description{
    font-size: 1.5vmax;
}
.cls-1{
    fill:#fa0;
    transition:fill 500ms;
}
.cls-2{
    fill:#16162b;
    transition:fill 500ms;
}
.cls-3{
    fill:#6257e7;
    transition:fill 500ms;
}
.cls-1:hover{
    fill: red;
}
#proj03-logo-g:hover .cls-2{
    fill: red;
}
.cls-3:hover{
    fill: red;
}

.footer{
    padding: 5vmin 10vw;
    padding-top: 15vmin;
    height: 80vmin;
}

.addition-info{
    position: absolute;
    padding: 0 5vw;
    top: 17vh;
    
}

.addition-info p{font-size: 1vmax;color: black !important;}

.work-browse-button{
    position: absolute;
    height: 48vmax;
    width: 10vw;
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    transition:opacity 200ms;
}
.work-browse-button img{
    width: 20%;
    position: relative;
    top: 40%;
    transform: translate(0,-50%);
    
}

.work-browse-button:hover{
    opacity: 100;
    background-color: rgba(255, 255, 255, 0.8);
    transition:opacity 200ms;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.project-browse-button{
    position: absolute;
    height: 75%;
    width: 10vw;
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    transition:opacity 200ms;
}
.project-browse-button img{
    width: 20%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.project-browse-button:hover{
    opacity: 100;
    background-color: rgba(255, 255, 255, 0.8);
    transition:opacity 200ms;
}
