@font-face {
    font-family: 'normal'; 
    src: url(source/PlusJakartaSans-Bold.ttf);
}
*{
    font-family:'normal';
    margin:0;
    padding:0;
    font-size:2vmax;
}

a:link { 
    text-decoration: none;
    color: #2b00ff;
    transition:color 500ms;
}
a:active { text-decoration:blink}
a:hover { text-decoration:underline; color: red}
a:visited:hover { text-decoration:underline; color: red}
a:visited{color: #2b00ff;}
a:hover #name{
    color: red;
    transition:color 500ms;
}
a:hover #circle{
    background-color: red;
    transition:background-color 500ms;
}
a:visited:hover #name{
    color: red;
    transition:color 500ms;
}
a:visited:hover #circle{
    background-color: red;
    transition:background-color 500ms;
}

/* icon */
#circle{
    display: inline-block;
    height: 1.5vmax;
    width: 1.5vmax;
    border-radius: 100px;
    background-color:  #2b00ff;
}
#name{
    color: #2b00ff;
}

/* 导航 */
.nav-div{
    display: inline-block;
    vertical-align: top;
}
.nav-align{
    text-align: center;
}  
.nav-bar {
    background-color: rgba(255, 255, 255, 0.0);
    width: 100%;
    position: fixed;
    top: 3vmin;
    /* padding:30px; */
    /* text-align: center; */
    z-index: 1;
}
.nav-spacer{
    height:1px;
    width: 10vw;
}
.nav-logo{
    width: 20vw;
    text-align: left;
}
.nav-content{
    text-align: right;
    width: 65vw;
}

.sub-item a{
    font-size: 1.5vmax;

}
.sub-item span{
    font-size: 1vmax;
    color: #2b00ff;
}

.top-block{
    padding-top: 25vmin !important;
}

#intro p{
    padding: 0.5vmin 0;
}

.project-list{
    padding: 5vmin 10vw;
}

.work-of-year{
    overflow: hidden;
}
.work-of-year-page-container{
    padding: 5vmin 10vw;
    padding-right: 0;
    padding-bottom: 0;
    white-space:nowrap; 
    font-size:0;
}

.portfolio-container{
    position: relative;
    text-align: center;
}
.portfolio-page-container{
    margin:0;
    padding:0;
    height:75%;
    font-size:0;
    position: relative;
    top: 25%;
    padding: 5vmin 10vw;
}
.portfolio-page-container div{
    text-align: left;
}
#portfolio-up{
    margin-top: 10vmin;
    padding-bottom: 0 !important;
}
#portfolio-down{
    padding-top: 0 !important;
}

.work-container{
    position: relative;
}
.work-page-container{
    margin:0;
    padding:0;
    /* overflow: scroll; */
    height:75%;
    /* white-space:nowrap;  */
    font-size:0;
    position: relative;
    top: 25%;
    padding: 0 10vw; 
    padding-right: 0;
    padding-top: 0;
}

.single-img-of-year{
    display: inline-block;
    height: 10vmax;
    margin-right: 5vmin;
    white-space:normal;
    vertical-align: top;
    
}
.single-img-of-year img{
    height: 100%;
    overflow: visible;
    
}
.single-work{
    display: inline-block;
    overflow: hidden;
    width: 19vmax;
    height: 22vmax;
    margin-right: 1vmax;
    margin-bottom: 1vmax;
    white-space:normal;
    vertical-align: top;
    border:rgb(222, 222, 222) 1px solid; 
}
.can-view:hover{
    border:#2b00ff 1px solid; 
    color: #2b00ff;
    cursor: pointer;
}

.preview{
    height: 70%;
}
.preview img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.info{
    height: 30%;
    padding: 1vmax;
}
.view{
    font-size: 1vmax;
    vertical-align: bottom;
}
.soon{
    font-size: 1vmax;
    color: rgb(255, 123, 0);
    vertical-align: bottom;
}
.tag{font-size: 1vmax;}
.spacer{height:3vmax;}
.title{font-size: 1.2vmax;}
.description{font-size: 1.5vmax;}




.slide{
    display: inline-block;
    height: 8vmin;
    width: 8vmin;
    position: absolute;
    right: 50%;
    top: 25vh;
    transform: translate(50%, 0);
}

.slide svg{
    fill: white;
}
.project-container{
    position: relative;
    height: 100vh;
    bottom: 0;
}
.project-page-container{
    margin:0;
    padding:0;
    overflow: scroll;
    height:75%;
    white-space:nowrap; 
    font-size:0;
    position: relative;
    top: 25%;
}
.single-page{
    display:inline-block;
    padding:0;
    border:0;
    height:100%;
}

.single-page img{
    display:block;
    margin:0;
    padding:0;
    border:0;
    height:100%;
}

.description{
    font-size: 1.5vmax;
}
.cls-1{
    fill:#fa0;
    transition:fill 500ms;
}
.cls-2{
    fill:#16162b;
    transition:fill 500ms;
}
.cls-3{
    fill:#6257e7;
    transition:fill 500ms;
}
.cls-1:hover{
    fill: red;
}
#proj03-logo-g:hover .cls-2{
    fill: red;
}
.cls-3:hover{
    fill: red;
}

.footer{
    padding: 5vmin 10vw;
    padding-top: 15vmin;
    height: 80vmin;
}

.addition-info{
    position: absolute;
    padding: 0 5vw;
    top: 17vh;
    
}

.addition-info p{font-size: 1vmax;color: black !important;}

.work-browse-button{
    position: absolute;
    height: 100%;
    width: 10vw;
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    transition:opacity 200ms;
}

.work-browse-button img{
    width: 20%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.work-browse-button:hover{
    opacity: 100;
    background-color: rgba(255, 255, 255, 0.8);
    transition:opacity 200ms;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.project-browse-button{
    position: absolute;
    height: 75%;
    width: 10vw;
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    transition:opacity 200ms;
}

.project-browse-button img{
    width: 20%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.project-browse-button:hover{
    opacity: 100;
    background-color: rgba(255, 255, 255, 0.8);
    transition:opacity 200ms;
}
